.band_bio_section {
  min-height: 100%;
  padding-top: 40px;
}

.band_bio_section h2 {
  color: var(--secondary-color);
  font-size: 1.8rem;
  text-align: center;
  margin-top: 0.5em;
}

.bio_main_container {
  padding: 2em;
  text-align: center;
  gap: 2em;
  margin-top: 2rem;
}

.text_1 {
  grid-area: text1;
}

.text_2 {
  grid-area: text2;
}

.text_3 {
  grid-area: text3;
}

.bio_main_container p {
  color: var(--third-color);
  font-size: 1.25rem;
  margin-top: 1.25rem;
}

.bio_img_container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 1em;
  grid-area: image;
}

.bio_img_container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 6px;
}

@media (min-width: 700px) {
  .bio_main_container {
    display: grid;
    padding: 5rem;
    justify-content: center;
    align-items: flex-start;
    grid-template-columns: 320px 320px;
    grid-template-rows: 220px 220px;
    grid-template-areas:
      "text1  image"
      "text2  text3";
    margin-top: 0rem;
    gap: 3rem;
  }

  .bio_main_container p {
    font-size: 1.25rem;
    margin-top: 0rem;
  }
}

@media (min-width: 1000px) {
  .bio_main_container {
    display: grid;
    padding: 5rem;
    justify-content: center;
    align-items: flex-start;
    grid-template-columns: 450px 450px;
    grid-template-rows: 300px 300px;
    grid-template-areas:
      "text1  image"
      "text2  text3";
    margin-top: 0rem;
    gap: 3rem;
  }

  .bio_main_container p {
    font-size: 1.4rem;
    margin-top: 0rem;
    line-height: 1.5;
  }
}
