.card_container {
  min-height: 100%;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: clamp(35%, 700px, 90%);
  height: min(50%, 250px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3em;
  box-shadow: 5px 5px 5px hsl(100 30% 10% / 0.25);
  border-radius: 20px;
}

.profile_image {
  border-radius: 50%;
  border: 4px solid var(--secondary-color);
  width: 140px;
  height: 140px;
  object-fit: cover;
  display: flex;
}

.profile_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding: 1.4em 1em;
}

.profile_name {
  color: var(--secondary-color);
  font-size: 1.65rem;
}

.profile_name::after {
  content: "";
  display: block;
  justify-content: center;
  height: 1px;
  width: 3em;
  background: hsl(100 30% 15%/0.85);
  margin: 0.7em auto 0.5em;
}

.profile_body {
  text-align: center;
}
